.actionCenter {
    position: absolute;
    z-index: 11;
    transform: translateY(100%);
    cursor: default;
    opacity: 0;
    transition: opacity .2s, transform .3s;
    bottom: calc(var(--tbSizeM) + 5px);
    right: 5px;
}

.acPage {
    width: 400px;
    height: var(--qsHeight);
    border-radius: var(--objectRadi);
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--startMenu);
    backdrop-filter: blur(90px) saturate(400%);
    color: var(--font2);
    overflow: hidden;
    transition: height .2s;
}


/* HEADER */

.actHead {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, .1);
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
}

.actHead::before {
    content: "Quick settings";
    padding-left: 15px;
}

.acthCollapse {
    position: absolute;
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    font: 400 18px FLNTREG;
    transition: background-color .1s;
}

.acthCollapse:hover {
    background-color: rgba(255, 255, 255, .3);
}


/* BODY */

.actBody {
    height: 133px;
    width: 100%;
    position: absolute;
    top: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    transition: height .2s;
}

.actbVolume {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.actbvIcon {
    font: 100 20px FLNTREG;
    padding-right: 15px;
}

.actbvSlider {
    width: 320px;
    height: 6px;
    border-radius: 50px;
    background-color: var(--accent);
    display: flex;
    align-items: center;
    opacity: .8;
}

.actvbsIndicator {
    width: 25px;
    height: 25px;
    background-color: var(--accent);
    border-radius: 50%;
    transition: background-color .1s;
}

.actbToggles {
    padding: 67px 0 0 0;
    display: grid;
    gap: 16px 15px;
    width: 100%;
    place-content: center;
    place-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.actbTogg {
    width: 110px;
    height: 50px;
    background-color: var(--accent);
    border-radius: 3px;
    transition: background-color .1s;
}

.actbTogg:hover,
.actvbsIndicator:hover {
    background-color: var(--accent-hov);
}


/* FOOTER */

.actFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    border-top: 2px solid rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
}

.actFooter::before {
    content: "";
    padding-left: 15px;
}

.actfButtons {
    position: absolute;
    right: 0;
    height: calc(100% + 2px);
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 13px;
}

.actfBtn {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 100 18px FLNTREG;
    transition: background-color .2s;
}

.actfBtn:hover {
    background-color: rgba(0, 0, 0, .1);
}

.actfbUsertile {
    background-image: var(--userImage);
    background-size: cover;
    background-position: center;
    transition: opacity .1s;
}

.actfbUsertile:hover {
    opacity: .8;
}