body{
	background-image: url("wall2.jpg");
	background-size: cover;
	overflow: hidden;
}

:root {
    --prim-div-color: #EFEDEC;
    --sec-div-color: #615F5F;
    --font-color: #615F5F;
    --hov-color: #FFFFFF;
	--start-btn: url(10x2.svg);
	--tskvw-btn: url(10xts2.svg);
}

[data-theme="dark"] {
    --prim-div-color: #3A3A3A;
    --sec-div-color: #B0B0B0;
    --font-color: #B0B0B0;
    --hov-color: #605D5E;
	--start-btn: url(10x3.svg);
	--tskvw-btn: url(10xts3.svg);
}

.mbdiv {
	background-color: var(--prim-div-color);
	color: white;
	text-align: center;
	font-size: 16px;
	height: 30px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 10px -10px rgba(0,0,0,0.2);
	transition: height 0.25s ease 0.1s;
	z-index: 199;
}

.mbdiv:hover {
	height: 60px;
}

.mbindicator {
	height: 4px;
	width: 35px;
	border-radius: 500px;
	background-color: var(--sec-div-color);
	opacity: 100%;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 0.25s ease 0.1s;
}

.mbdiv:hover .mbindicator{
	opacity: 0;
}

.mbindicator:hover{
	opacity: 0;
}

.mbitems{
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	display: flex;
	opacity: 0%;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 0.25s ease 0.1s;
}

.mbdiv:hover .mbitems{
	opacity: 100%;
}

#startbtn2{
	content: var(--start-btn);
}

#tskvwbtn2{
	content: var(--tskvw-btn);
}

.mbbtn{
	width: 70px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.15s ease;
}

.mbbtn:hover{
	background: var(--hov-color);
}

.mbimgclr{
	display: none;
	z-index: 99;
}

.mbbtn:hover .mbimgclr{
	display: initial;
}

.mbbtn:hover .mbimgbw{
	display: none;
}

img{
	width: 23px;
	height: 23px;
}

.mbac{
	width: 70px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: 3px;
	transition: 0.15s ease;
}

.mbac:hover{
	background: var(--hov-color);
}

.mbdiv:hover #aclogo{
	padding-top: 25px;
	opacity: 1;
}

.mbdiv:hover #currentTime{
	transform: translate(0,-10px);
}

#aclogo{
	position: absolute;
	font-family: FluentFilled;
	padding-right: 10px;
	transition-duration: .5s;
	color: var(--font-color);
	font-size: 14px;
	opacity: 0;
	padding-left: 45px;
	transition-delay: .1s;
}

#currentTime{
	color: var(--font-color);
	position: absolute;
	font-family: Segsb;
	font-size: 14px;
	padding-right: 0;
	padding-left: 20px;
	transition-duration: .5s;
}

.show {
	display: block;
}

.startmenu{
	width: 500px;
	height: 560px;
	background-color: #EDEDED;
	border-radius: 4px;
	box-shadow: 0px 0px 10px -10px rgba(0,0,0,0.2);
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -30%);
	transition: opacity 0.25s ease 0.1s;
	z-index: 202;
	display: none;
}

.tooltip1, .tooltip2, .tooltip3{
	width: auto;
	background-color: var(--prim-div-color);
	color: var(--font-color);
	text-align: center;
	border-radius: 6px;
	padding: 10px 10px;
	font-family: Seg;
	font-size: 14px;
	opacity: 0;
	transition-delay: .5s;
	transition-duration: .2s;
}

#startbtn:hover .tooltip1 {
	opacity: 100%;
}

#taskviewbtn:hover .tooltip2 {
	opacity: 100%;
}

#mbacbtn:hover .tooltip3 {
	opacity: 100%;
}

.tooltip1{
	position: absolute;
	bottom: 150%;
	left: 7%;
}

.tooltip2{
	width: 70px;
	position: absolute;
	bottom: 150%;
	left: 43%;
}

.tooltip3{
	width: 100px;
	position: absolute;
	bottom: 150%;
	right: 1%;
}

#menu {
	display: block;
	background-color: var(--prim-div-color);
	padding-top: 5px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px -10px rgba(0,0,0,0.2);
	position: absolute;
	transform-origin: center;
	z-index: 201;
	opacity: 0;
	transition: opacity 0.1s;
	width: 230px;
	height: 160px;
	overflow-y: hidden;
}

#menu.show {
  opacity: 1;
}

.walls{
	display: block;
	overflow: scroll;
	height: 85px;
	white-space: nowrap;
	padding-left: 0;
	padding-right: 0;
}

.menuitem, .menuitem2, .darkmodetoggle {
	display: block;
	transition: 0.1s;
	color: var(--font-color);
	font-family: Segsb;
	border-radius: 3px;
}

.darkmodetoggle{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
}

.darkmodetoggle:hover{
	background-color: var(--hov-color);
}

.menuitem {
	line-height: 40px;
	transition: opacity 0.5s;
}

#wb1, #wb2, #wb3, #wb4, #wb5{
	background-size: cover;
	transition: opacity 0.2s;
	width: 70px;
	height: 70px;
	display: inline-block;
}

#wb1:hover, #wb2:hover, #wb3:hover, #wb4:hover, #wb5:hover{
	opacity: 70%
}

#wb1{
	background-image: url("wall.jpg");
}

#wb2{
	background-image: url("wall2.jpg");
}

#wb3{
	background-image: url("wall3.jpg");
}

#wb4{
	background-image: url("wall4.jpg");
}

#wb5{
	background-image: url("wall5.jpg");
}

.menuitem2 {
	width: 70px;
	height: 70px;
	margin-right: 10px;
}

#out-click {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: none;
}

.backOverlay{
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 198;
}

::-webkit-scrollbar {
	width: 0;
	height: 5px;
	background: transparent;
	border-radius: 100px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent; 
	border-radius: 100px;
	width: 0;
	height: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 100px;
	width: 0;
	height: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
	border-radius: 100px;
	width: 0;
	height: 5px;
}