body {
    background-image: url("Walls/wall2.jpg");
    background-size: cover;
    overflow: hidden;
    margin: 0;
    font: 400 14px Seg;
}

@media (prefers-color-scheme: light) {
     :root {
        --taskbar: #efedece0;
        --startMenu: #efedecb0;
        --searchBar: #ffffff;
        --searchBar2: #ffffff;
        --searchBar-border: #dddddd;
        --searchBar-border2: #dddddd;
        --tb-indicator: #615F5F;
        --font: #615F5F;
        --font2: #000000;
        --tb-hov: #FFFFFF;
        --icn-hov: #ffffff60;
        --btn-hov: #eeeeee;
        --start-btn: url(btnIcons/startDark.svg);
        --tskvw-btn: url(btnIcons/taskviewDark.svg);
        --storeIcon: url(Icons/MicrosoftStoreDark.png);
        --stickiesIcon: url(Icons/MicrosoftStickyNotesDark.png);
        --window-main: #FFFFFF;
    }
}

@media (prefers-color-scheme: dark) {
     :root {
        --taskbar: #3a3a3ae0;
        --startMenu: #272727bb;
        --searchBar: #ffffff25;
        --searchBar2: #00000094;
        --searchBar-border: #4b4b4b;
        --searchBar-border2: #7e7e7e;
        --tb-indicator: #B0B0B0;
        --font: #B0B0B0;
        --font2: #FFFFFF;
        --tb-hov: #605D5E;
        --icn-hov: #ffffff26;
        --btn-hov: #4b4b4b;
        --start-btn: url(btnIcons/startLight.svg);
        --tskvw-btn: url(btnIcons/taskviewLight.svg);
        --storeIcon: url(Icons/MicrosoftStoreLight.png);
        --stickiesIcon: url(Icons/MicrosoftStickyNotesLight.png);
        --window-main: #000000;
    }
}