.twitterApp{
    position: absolute;
    z-index: 10;
    top: 0;
    height: calc(100% - var(--tbSizeM));
    width: 100%;
    background-color: var(--font2);
}

.taObject, .taEmbed{
    width: 100%;
    height: 100%;
}